<!DOCTYPE html>
<html lang="en">

<!-- Aqui va el head -->
<%- include('../partials/head') %>

<body>
     <!-- Aqui va el header -->
     <%- include('../partials/header') %>

    <!-- Aqui va el main -->
    <main>
        <div class="carrusel">
            <img src="/images/tomemonos-un-cafe-banner.jpg" class="imagen">
        </div> 
        
        <br><br><br><br>
        <h1 style="margin: 30px; border: 3px solid #CC9544; background-color: rgb(28,10,0);color: #FAF3E0;" >Como comprar</h1>
        <br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br>
 
    </main>

    <!-- Aca va el footer -->
    <%- include('../partials/footer') %>
    
</body>

</html>