<!DOCTYPE html>
<html lang="en">

    <!-- Aqui va el head -->
    <%- include('../partials/head') %>

<body>
    
    <!-- Aqui va el header -->
    <%- include('../partials/header') %>

    <!-- Aqui va el main -->
    <main>
        <div class="main-title-ctn">
            <p>Crear Producto</p>
        </div>
        <div class="main-form-ctn">
            <form action="/editarProducto" method="" class="formCyE">
                <label for="username">Nombre del Producto</label>
                <input type="text" name="username" id="username" placeholder="Producto" required>
                <label for="peso">Peso Neto</label>
                <input type="text" name="peso" id="peso" placeholder="Peso Neto" required>
                <label for="descripcion">Descripción</label>
                <textarea name="descripcion" id="descripcion" class='content-ctn' placeholder="Descripcion" required rows="10" cols="50"></textarea>
                <label for="precio">Precio</label>
                <input type="text" name="precio" id="precio" placeholder="Precio" required>
                <label for="imagenes">Insertar Imagenes de tu Producto</label>
                <input type="file" accept="image/*" name="imagenes" id="imagenes" placeholder="Insertar Imagenes de tu producto" required>
                <label for="categoria">Categoria</label>
                <select name="categoria" id="categoria" required>
                    <option value="enGranos">En granos</option>
                    <option value="molido">Molido</option>
                    <option value="enCapsulas">En capsulas</option>
                </select>
                <div class="submit-compra-mc">
                    <button class="submit-lgn-mc">Aceptar</button>
                </div>
            </form>
        </div>
    </main>


    <!-- Aca va el footer -->
    <%- include('../partials/footer') %>
    

</body>
</html>