<!DOCTYPE html>
<html lang="en">

<!-- Aqui va el head -->
<%- include('../partials/head') %>

<body>
    <!-- Aqui va el header -->
    <%- include('../partials/header') %>

    <!-- Aqui va el main -->
    <main class="background-mc">
        
        <div class="background-div-mc">

        <p class="title-mc">Mi Carrito</p>

            <div class="card-productos-mc">
                <div class="delete-prod-mc">
                    <div class="icon-trash-mc">
                        <i class="fa-solid fa-trash"></i>    
                    </div>
                    <img src="/images/cafeBrasil.jpg" alt="cafeBrasil" class="img-producto-mc" >
                </div>
                <div class="descripciones-mc">
                    <div>
                        <div class="descripcion-producto-mc">
                            <p>Café Brasil</p>
                        </div>
                        <div class="detalle-producto-mc">
                            <p>Café en grano - 500gr </p>
                            <p>Cerrado Mineiro - Brasil</p>
                        </div>
                    </div>

                    <div class="detalle-compra-mc">
                        <div class="precio-compra-mc">
                            <p >Precio  </p>
                            <p>$1000</p>
                        </div>
                        <div class="cantidad-compra-mc">
                            <p>Cantidad</p>
                            <div>
                                <input type="number" name="cantidad" value="1" min="0" max="100" class="cantidad-items-mc">
                            </div>
                            
                        </div>
                        <div class="subtotal-compra-mc">
                            <p>Subtotal  </p> 
                            <p>$1000</p>                  
                        </div>
                    </div>
                </div>     
            </div>
            
            <div class="card-productos-mc">
                <div class="delete-prod-mc">
                    <div class="icon-trash-mc">
                        <i class="fa-solid fa-trash"></i>    
                    </div>
                    <img src="/images/cafeEtiopia.jpg" alt="cafeEtiopia" class="img-producto-mc" >
                </div>
                <div class="descripciones-mc">
                    <div>
                        <div class="descripcion-producto-mc">
                            <p>Café Etiopía</p>
                        </div>
                        <div class="detalle-producto-mc">
                            <p>Café en grano - 500gr </p>
                            <p> Sidamo - Etiopía</p>
                        </div>
                    </div>
                    
                    <div class="detalle-compra-mc">
                        <div class="precio-compra-mc">
                            <p>Precio</p>
                            <p>$1200</p>
                        </div>
                        <div class="cantidad-compra-mc">
                            <p>Cantidad</p>
                            <div>
                                <input type="number" name="cantidad" value="1" min="0" max="100" class="cantidad-items-mc">
                            </div>
                            
                        </div>
                        <div class="subtotal-compra-mc">
                            <p>Subtotal</p> 
                            <p>$1200</p>                  
                        </div>
                    </div>
                </div>     
            </div>       

            <p class="title-total-mc">Total de Mi carrito</p>

            <div class="finalizacion-compra-mc">
                <div class="subtotal-finalizacion-compra-mc">
                    <p>Subtotal</p>
                    <p class="bolder-mc">$2200</p>
                </div>
                <div class="tipo-envio-mc">
                    <div class="opciones-envio-mc">
                        <p>Envio</p>
                        <div class="opciones-envio-radio-mc">
                            <div>
                                <input type="radio" name="envio" value="domicilio"> <span> A domicilio. </span>
                            </div>
                            <div>
                                <input type="radio" name="envio" value="correo"> <span> Sucursales de Correo y otros puntos de todo el pais. </span>
                            </div>
                            <div>
                                <input type="radio" name="envio" value="local"> <span> Retiro en el local. </span>
                            </div>
                        </div>
                    </div>
                    <div class="precio-envio-mc">
                        <p class="bolder-mc">$800</p>  
                    </div>
                    
                </div>
                <div class="total-compra-mc">
                    <p>Total</p> 
                    <p class="bolder-mc" >$3000</p>                  
                </div>

                <div class="submit-compra-mc">
                    <button type="submit" class="submit-lgn-mc">Finalizar compra</button>                  
                </div>
                    
            </div>  
            
        </div>

    </main>

    <!-- Aca va el footer -->
    <%- include('../partials/footer') %>

</body>

</html>