<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Cafe Arte</title>
</head>

<body>
    <header></header>

    <main>
        <div class="carrusel">
            <img src="/images/tomemonos-un-cafe-banner.jpg" class="imagen">
        </div> 

        <h3 class="titulo">Nuestras Ofertas</h3>

        <section class="Ofertas">
            <article class="card">
                <img src="/images/OfertaPackTrio.jpg" class="ImagenPackTrio">
                <p class="descripcion">Oferta Pack Trio</p>
                <p class="precio">$400</p>

            </article>

            <article class="card">
                <img src="/images/PackOrganico.jpg" class="packOrganico">
                <p class="descripcion">Oferta Pack Organico</p>
                <p class="precio">$450</p>

            </article>

            <article class="card">
                <img src="/images/cafeColombia.jpg" class="cafeColombia">
                <p class="descripcion">Oferta Cafe Colombiano</p>
                <p class="precio">$550</p>
            </article>
        </section>

        <h3 class="titulo"> Nuestros Destacados</h3>

        <section class="destacados">
            <article class="card">
                <img src="/images/cafeBrasil.jpg" class="cafeBrasil">
                <p class="descripcion">Cafe Brasil</p>
                <p class="precio">$600</p>

            </article>

            <article class="card">
                <img src="images/cafeEtiopia.jpg" class="cafeEtiopia">
                <p class="descripcion">Cafe Etiopia</p>
                <p class="precio">$600</p>

            </article>

            <article class="card">
                <img src="/images/ElSalvador.jpg" class="cafeElSalvador">
                <p class="descripcion">Cafe El Salvador</p>
                <p class="precio">$550</p>
            </article>
        </section>


        
    </main>

    <footer></footer>
</body>

</html>