<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafe Arte</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <!--link de fuente-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,800&display=swap" rel="stylesheet"> 
    <!--link de los íconos-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <!--icono de la pestaña-->
    <link rel="icon" href="/images/logo1.png">
</head>

<body>
    <header>
        <!--Icono-->
        <div class="logo">
            <a href="/"><img src="/images/logo2.png" alt=""></a>
        </div>
        <!--Nav-Bar-->
        <div class="nav-bar">
            <nav>
                <ul>
                    <li><a href="#">Nuestro Café</a></li>
                    <li><a href="#">Otros productos</a></li>
                </ul>
            </nav>
        </div>
        
        <div class="icons">
            <div class="icon-magnifying-glass">
                <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
            </div>
            
            <div class="icon-envelope">
                <a href="#"><i class="fa-regular fa-envelope"></i></a>
            </div>

            <div class="icon-user">
                <a href="/login"><i class="fa-solid fa-user"></i></a>
            </div>
            
            <div class="icon-register">
                <li><a href="/register" title="Registrate!" target="_blank"><i class="far fa-id-card"></i></a></li>
            </div>

            <div class="icon-cart">        
                <a href="/carro" title="Mi Carrito" ><i class="fa-solid fa-cart-shopping"></i></a>
            </div>

            <div class="icon-bars">
                <a href="#"><i class="fa-solid fa-bars"></i></a>
            </div>
        </div>
    
    </header>

    <main>
        <div class="carrusel">
            <a href="/productDetail"><img src="/images/tomemonos-un-cafe-banner.jpg" class="imagen"></a>
        </div> 
        
            <h3 class="titulo">Nuestras Ofertas</h3>
      

        <section class="Ofertas">
            <article class="card">
                <a href="/productDetail"><img src="/images/OfertaPackTrio.jpg" class="ImagenPackTrio"></a>
                <p class="descripcion">Oferta Pack Trio</p>
                <p class="precio">$400</p>

            </article>

            <article class="card">
                <a href="/productDetail"><img src="/images/PackOrganico.jpg" class="packOrganico"></a>
                <p class="descripcion">Oferta Pack Organico</p>
                <p class="precio">$450</p>

            </article>

            <article class="card">
                <a href="/productDetail"><img src="/images/cafeColombia.jpg" class="cafeColombia"></a>
                <p class="descripcion">Oferta Cafe Colombiano</p>
                <p class="precio">$550</p>
            </article>
        </section>

        <h3 class="titulo"> Nuestros Destacados</h3>

        <section class="destacados">
            <article class="card">
                <a href="/productDetail"><img src="/images/cafeBrasil.jpg" class="cafeBrasil"></a>
                <p class="descripcion">Cafe Brasil</p>
                <p class="precio">$600</p>

            </article>

            <article class="card">
                <a href="/productDetail"><img src="images/cafeEtiopia.jpg" class="cafeEtiopia"></a>
                <p class="descripcion">Cafe Etiopia</p>
                <p class="precio">$600</p>

            </article>

            <article class="card">
                <a href="/productDetail"><img src="/images/ElSalvador.jpg" class="cafeElSalvador"></a>
                <p class="descripcion">Cafe El Salvador</p>
                <p class="precio">$550</p>
            </article>
        </section>


        
    </main>

    <footer>

        <div class="logo-footer">
            <a href="/"><img src="/images/logo2.png" alt=""></a>
        </div>
        <div class="info">
            <div class="info-left">
                <div class="nav-footer">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="#">Nuestro Café</a></li>
                        <li><a href="#">Otros productos</a></li>
                        <li><a href="#">Contáctenos</a></li>
                    </ul>
                </div>
            </div>

            <div class="info-right">
                <div class="social">
                    <div>
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                    <div>
                        <i class="fa-brands fa-facebook-square"></i>
                    </div>
                    <div>
                        <i class="fa-brands fa-youtube"></i>
                    </div>
                </div>
                

                <div class="phone">
                    <p><i class="fa-solid fa-square-phone"></i>   0111-555-5555 </p>
                </div>

                <div class="address">
                    <p><i class="fa-solid fa-location-dot"></i>   La Ruta del Café 1234 - Quindío - Colombia </p>
                </div>

                <div class="how_to_buy">
                    <a href="#"><i class="fa-solid fa-hand-holding-dollar"></i> Medios de pago</a>
                </div>

            </div>
        </div>

        <div class="cpyrgt">
            <p>© Copyright Café Arte</p>
        </div>

    </footer>
</body>

</html>