/* ctrl+k luego ctrl+c */
/* Chequear siempre que la pagina esta linkeada antes de ponerse con esto */
/* HOME */

* {
    box-sizing: border-box;
}
/*-----   HEADER   -----*/
header{
    font-family: "poppins";
	position: fixed;
	background-color: #361500;
	width: 100%;
	height: 60px;
	display: flex;
	align-items: center;
}

/* .main-header-reg {
	font-family: "poppins";
	position: fixed;
	background-color: rgb(28,10,0);
	width: 100%;
	height: 60px;
	display: flex;
	align-items: center;
} */

/*--- logo del negocio ---*/
.logo {
	flex-grow: 0.7;
}
.logo img {
	display: block;
	width: 54px;
	height: 54px;
	margin: 0px 30px;
}
/*--nav bar ---*/
.nav-bar ul {
	display: none;
	list-style-type:none;
}

.nav-bar nav ul li a {
	font-size: 16px;
	text-align: center;
	color:#FAF3E0;
	text-decoration:none;
	width: 100px;
	height: 75px;
	padding: 10px;
	border-radius: 5px;
}

/* esto no es */
.nav-bar nav ul li a:hover {
	background-color:#1C0A00;
	opacity: 0.85;
	transition: 0.20s;
}

/*--------- Iconos -----------*/
.icons {
	display: flex;
	flex-grow: 0.2;
	justify-content: space-around;
}

.icons a{
	color:#FAF3E0;
	text-decoration-line: none;
	padding: 10px;
	border-radius: 5px;
}

.icons a:hover{
	background-color:#1C0A00 ;
	opacity: 0.85;
	transition: 0.20s;
}

/*-- Lupa => buscador --*/
.icon-magnifying-glass{
	display: none;
	font-size: 20px;
	padding: 5px;

}

/*-- Sobre de carta => Ayuda, preguntas --*/
.icon-envelope{
	display: none;
	color:#FAF3E0;
	font-size: 20px;
	padding: 5px;
}

/*-- Usuario => Registrarse --*/
.icon-register {
	display: none;
	color:#FAF3E0;
	font-size: 20px;
	padding: 5px;
}

/*-- Usuario => Ingresar --*/
.icon-user{
	display: none;
	color:#FAF3E0;
	font-size: 20px;
	padding: 5px;
}

/*-- Carrito => Compras --*/
.icon-cart{
	display: block;
	color:#FAF3E0;
	font-size: 20px;
	padding: 5px;
}


/*-- Barras => Menú comprimido--*/
.icon-bars{
	display: block;
	color:#FAF3E0;
	font-size: 20px;
	padding: 5px;
}

/* main */

.titulo{
    font-family: "poppins";
    font-size:  30px;
    margin-left: 50px;

}
.carrusel{
    margin: 0;
    /* box-shadow: 0 0 50px 0 rgba(0,0,0,.9); */
}

.imagen{
    width: 100%;

}
.card{
    width: 300px;
    margin: auto;
    padding: 5px;
    /* background-o; */
    text-align: center;
    margin-bottom: 10px;
    border-radius: 10px;
    transition: 0.20s;

}

article img{
    width: 95%;
    border-radius: 10px;
}
.descripcion{
    font-family: "poppins";
    font-size: 20px;
    text-align: left;
    margin: 5px 0px 0px 0px;
    padding: 0;
}

.precio{
    font-family: "poppins";
    font-size: 20px ;
    text-align: left;
    margin: 0;
    padding: 0;
    color: burlywood
}

.card:hover{

    transform:translateY(-3%);
    opacity: 90%;
}

/*-----   FOOTER   -----*/

footer {
    font-family: "poppins";
	background-color:#361500;
	color: #CC9544;
    padding:20px 0px;
	text-align: center;
	font-size: 14px;
	font-weight: 100;
}

.logo-footer img {
	width: 40px;
	height: 40px;
}

.social{
	display: flex;
	font-size: 20px;
	justify-content: center;
}
.social div{
	padding: 0px 20px;
}

.logo-footer img,
.social,
.phone,
.address,
.how_to_buy,
.nav-footer{
	margin-bottom: 20px;
}

.info-left .nav-footer ul {
    padding: 0%;
}

.info-left ul li{
	list-style-type:none;
	margin-bottom: 15px;
}

footer ul li > a{
	text-decoration-line: none;
	color: #CC9544;
}

.how_to_buy > a {
	color: #CC9544;
	text-decoration: none;
}

/******** ESTILOS PARA EL REGISTER *************************/

/* .main-header-reg {
	position: fixed;
    top: 0px;
    width: 100vw;
    z-index: 100;
    height: 15vh;
	background-color: rgba(28,10,0,0.8);
} */

.main-header-reg {
	font-family: "poppins";
	position: fixed;
	background-color: rgb(28,10,0);
	width: 100vw;
	height: 15vh;
	display: flex;
	align-items: center;
	top: 0px;
	z-index: 100;
}

 .register-fondo {
	margin-top: 15vh;
	background-image: url(/images/imagenFondo.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
	/* background-color: transparent; */
	z-index: 50;
}

.form-principal {
	background-color: white;
	padding: 20px 15px;
	width: 50vw;
	z-index: 50;
}

.control-form {
    margin-bottom: 15px;
}

.control-form label{
    margin-bottom: 5px;
    font-style: normal;
    display: block;
    font-weight: bold;
    font-size: 1.2rem;
}

.create-user h2{
    margin-bottom: 15px;
    font-style: normal;
    display: block;
    font-weight: bold;
    font-size: 1.9rem;
    color: rgba(28,10,0,0.8);
    text-align: center;
}

.control{
    width: 40vw;
    padding: 8px 8px;
}


.button-form-create {
	box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:rgba(28,10,0,0.8);
	font-family:Arial;
	font-size: 17px;
	padding: 10px 25px;
	margin: 5px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.button-form-create:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.button-form-create:active {
	position:relative;
	top:1px;
}

/* Media queries */

@media (min-width: 481px){
.card{
    width: 100%;
    max-width:400px;
}

article img{
    width: 100%;
}

main{
    background-image: url(/images/imagenFondo.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

}

 

@media (min-width: 769px){
    /* --------------  header  ---------------*/
	/*Cambio el tamaño del icono y de la barra */
	header{
		height: 85px;
	}
	.logo{
		flex-grow: 0.1;
	}
	.logo img {
		width: 75px;
		height: 75px;
		margin: 5px 0px 5px 50px;
	}
	/* Aparece el menú tipo nav bar*/
	.nav-bar{
		flex-grow: 0.75;
	}

	.nav-bar ul {
		display: flex;
		align-items: flex-end;
		justify-content: space-around;
	}
	/*Aparece el elemento lupa para buscar*/
	.icon-magnifying-glass{
		display: block;
	}
	/*Aparece la elemento carta de ayuda*/
	.icon-envelope{
		display: block;
	}
	/*Aparece la elemento registrarse*/
	.icon-user{
		display: block;
	}

	.icon-register {
		display: block;
	}

	li {
		list-style-type: none;
		
	}

	/*se saca el elemento menú de barras*/
	.icon-bars{
		font-size: 0px;
		padding: 0px;
		flex-grow: 0;
	}
	.icon-bars > .fa-bars{
		display: none;
	}
    /*------ main ------*/
    section{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    main{
        background-image: url(/images/imagenFondo.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .card{
        margin: 0;
    }
    /*-------------footer-----------*/
	footer{
		font-size: 16px;
	}
	.info{
		display: flex;
		justify-content: space-around;
	}

	.info-left{
		text-align: left;
	}

	.info-right{
		text-align: right;
	}
	.social{
		justify-content:end;
	}

	.social div{
		padding-left: 40px;
		padding-right: 0px;
	}
	.cpyrgt{
		padding-top: 40px;
	}

}
    



@media (min-width: 1280px){

    section{
        display: flex;
        flex-wrap: nowrap;
    }

}
