<% enOferta.forEach(oferta => { %>
    <article class="card">
        
        <a href="/productos/detalle/<%= oferta.id %> "><img src="/images/<%= oferta.imagen %>" class="ImagenPackTrio">
            <p class="descripcion"><%= oferta.nombre %></p>
            <p class="precio">$ <%= oferta.precio %></p>
        </a>
    </article>
<% }) %>   








