<footer>

    <div class="logo-footer">
        <a href="/"><img src="/images/logo2.png" alt=""></a>
    </div>
    <div class="info">
        <div class="info-left">
            <div class="nav-footer">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Nuestro Café</a></li>
                    <li><a href="#">Otros productos</a></li>
                    <li><a href="#">Contáctenos</a></li>
                </ul>
            </div>
        </div>

        <div class="info-right">
            <div class="social">
                <div>
                    <i class="fa-brands fa-instagram"></i>
                </div>
                <div>
                    <i class="fa-brands fa-facebook-square"></i>
                </div>
                <div>
                    <i class="fa-brands fa-youtube"></i>
                </div>
            </div>
            

            <div class="phone">
                <p><i class="fa-solid fa-square-phone"></i>   0111-555-5555 </p>
            </div>

            <div class="address">
                <p><i class="fa-solid fa-location-dot"></i>   La Ruta del Café 1234 - Quindío - Colombia </p>
            </div>

            <div class="how_to_buy">
                <a href="#"><i class="fa-solid fa-hand-holding-dollar"></i> Medios de pago</a>
            </div>

        </div>
    </div>

    <div class="cpyrgt">
        <p>© Copyright Café Arte</p>
    </div>

</footer>