<header>
    <!--Icono-->
    <div class="logo">
        <a href="/"><img src="/images/logo2.png" alt=""></a>
    </div>
    <!--Nav-Bar-->

    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Navbar</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                  </li>
                </ul>
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>
    </div>
    <div class="nav-bar">
        <nav>
            <ul>
                <li><a href="/productos">Nuestros Productos</a></li>
                <li><a href="#">Otros productos</a></li>
            </ul>
        </nav>
    </div>

    <div class="icons">

        <!-- iconos que quedan siempre -->
        <!-- hamburguesa -->
        <div class="icon-bars">
            <a href="#"><i class="fa-solid fa-bars"></i></a>
        </div>
        <!-- lupa -->
        <div class="icon-magnifying-glass">
            <form action="/productos/buscar" method="post">
                
               <input type="text" id='' name="search" placeholder="Buscar..."  >
               <button type="submit" class="lupa">
                    <i class="fa-solid fa-magnifying-glass" title="Busca productos!"></i>
               </button>
               
           </form>
        </div>


        <!-- Si es logged entonces  -->
            <% if (locals.isLogged) { %>
            
            <div class="icon-cart">
                <a href="/productos/carrito" title="Mi Carrito"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>

            <div class="icon-register">
                <a href="/usuarios/logout"><i class="fa-solid fa-right-from-bracket"></i></a>
            </div>

            <div class="icon-register">
             <a href="/usuarios/perfil">   <img src="/images/users/<%=locals.userLogged.image %>" width="30" style="border-radius: 100%;"></a>
            </div>

            <div class="icon-register">
                Hola, <%= locals.userLogged.first_name %>
            </div>

        
        <!-- Si es logged entonces  -->
        <% } else { %>
            <div class="icon-user">
                <a href="/usuarios/login" title="Login"><i class="fa-solid fa-user"></i></a>
            </div>

            <div class="icon-register">
                <li><a href="/usuarios/registro" title="Registrate!"><i class="far fa-id-card"></i></a></li>
            </div>

            <!-- Contactenos -->
            <div class="icon-envelope">
                <a href="/contactenos" title="Contactanos!"><i class="fa-regular fa-envelope"></i></a>
            </div>

        <% } %>


    </div>

</header>