<div class="mobile-display">
    <div class="icon-register-mobile">
        <a href="/productos">Nuestros Productos</a>
    </div>
    
    <div class="icon-register-mobile">
        <a href="#">Otros productos</a>
    </div>

    <% if (locals.isLogged) { %>
        <div class="icon-register-mobile">
            <a href="/usuarios/logout">Salir</a>
        </div>

        <div class="icon-register-mobile">
            Hola, <%= locals.userLogged.first_name %>
            <a href="/usuarios/perfil"><img src="/images/users/<%=locals.userLogged.image %>" width="30" style="border-radius: 100%;"></a>
        </div>
        
    <% } else { %>
        <div class="icon-register-mobile">
            <a href="/usuarios/login" title="Login">Login</a>
        </div>

        <div class="icon-register-mobile">
            <a href="/usuarios/registro" title="Registrate!">Registrate</a>
        </div>

        <!-- Contactenos -->
        <div class="icon-register-mobile">
            <a href="/contactenos" title="Contactanos!">Contactanos</i></a>
        </div>

    <% } %>
</div>