<!DOCTYPE html>
<html lang="en">

<!-- Aqui va el head -->
<%- include('../partials/head') %>

<body>
    <!-- Aqui va el header -->
    <%- include('../partials/header') %>

    <!-- Aqui va el main -->
    <main class="background-mc">
        <br><br><br><br>
            <div class="error404-er">
    
                <p>Error 404</p>
                <P>Pagina no encontrada</p> 
                <div>
                    <img src="/images/error.png" alt="">    
                </div>
                
            </div>   
        
        </main> 

    </main>

    <!-- Aca va el footer -->
    <%- include('../partials/footer') %>
    
</body>

</html>