<!DOCTYPE html>
<html lang="en">

<!-- Aqui va el head -->
<%- include('../partials/head') %>

<body>
    
    <!-- Aqui va el header -->
    <%- include('../partials/header') %>
    
    <!-- Aqui va el main -->

    <main>
        
        <br><br><br><br>
        <h1 style="margin: 30px; border: 3px solid #CC9544; background-color: rgb(28,10,0);color: #FAF3E0;" >Contactenos</h1>
        <br><br><br>

        <form action="/" method="" class="formBody">
            <label for="username">Usuario</label>
            <input type="text" name="username" id="username" placeholder="Usuario" required>
            <label for="password" class="pass">Contrase単a</label>
            <input type="password" name="password" id="password" placeholder="Contrase単a" required>
            <div class="rememberMe">
                <input type="checkbox" class="check">
                <span>Recordarme</span>
            </div>
            <div class="butonLogin">
                <button class="button-form-create">Ingresar</button>
            </div>
            <a href="/" class="forgot">多Olvidaste tu Contrase単a?</a>
        </form>

    </main>

    <!-- Aca va el footer -->
    <%- include('../partials/footer') %>
    
</body>

</html>