<!DOCTYPE html>
<html lang="en">

   
    <%- include('../partials/head') %>
<body>
    
    <%- include('../partials/header') %>

    <main>
        <div class="carrusel">
            <a href="/productDetail"><img src="/images/tomemonos-un-cafe-banner.jpg" class="imagen"></a>
        </div> 
        
            <h3 class="titulo">Nuestras Ofertas</h3>
      
            <section class="Ofertas">
                <%- include('../partials/cardOfertas') %> 
            </section>
            
            <!-- <article class="card">
                <a href="/productDetail"><img src="/images/OfertaPackTrio.jpg" class="ImagenPackTrio"></a>
                <p class="descripcion">Oferta Pack Trio</p>
                <p class="precio">$400</p>

            </article>

            <article class="card">
                <a href="/productDetail"><img src="/images/PackOrganico.jpg" class="packOrganico"></a>
                <p class="descripcion">Oferta Pack Organico</p>
                <p class="precio">$450</p>

            </article>

            <article class="card">
                <a href="/productDetail"><img src="/images/cafeColombia.jpg" class="cafeColombia"></a>
                <p class="descripcion">Oferta Cafe Colombiano</p>
                <p class="precio">$550</p>
            </article> -->
        

        <h3 class="titulo"> Nuestros Destacados</h3>

        <section class="destacados">
            <article class="card">
                <a href="/productDetail"><img src="/images/cafeBrasil.jpg" class="cafeBrasil"></a>
                <p class="descripcion">Cafe Brasil</p>
                <p class="precio">$600</p>

            </article>

            <article class="card">
                <a href="/productDetail"><img src="images/cafeEtiopia.jpg" class="cafeEtiopia"></a>
                <p class="descripcion">Cafe Etiopia</p>
                <p class="precio">$600</p>

            </article>

            <article class="card">
                <a href="/productDetail"><img src="/images/ElSalvador.jpg" class="cafeElSalvador"></a>
                <p class="descripcion">Cafe El Salvador</p>
                <p class="precio">$550</p>
            </article>
        </section>


        
    </main>

    <!-- Aca va el foter -->
    <%- include('../partials/footer') %>
</body>

</html>