<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>

<body class="login">
    
    <%- include('../partials/header') %>

    <!-- Empieza el Form de Login -->
    <div class="formLogin">
        <div class="contenedorSadulo">
            <h1 class="tituloLogin">LOGIN</h1>
            <i class="fa-solid fa-circle-user"></i>
            <h2 class="saludo">Bienvenido</h2>
        </div>
        <form action="/usuarios/login" method="POST" class="formBody">
            <label for="correo">Usuario</label>
            <input type="email" name="correo" id="correo" placeholder="email" required>
            <% if (locals.errors && errors.correo) { %>
             <div class="text-danger">
                <%= errors.correo.msg %> 
             </div>
            <% } %>
            <label for="contrasena" class="pass">Contrase単a</label>
            <input type="password" name="contrasena" id="contrasena" placeholder="Contrase単a">
            <div class="rememberMe">
                <input type="checkbox" name="recordame" class="check">
                <span>Recordame</span>
            </div>
            <div class="butonLogin">
                <button class="button-form-create">Ingresar</button>
            </div>
            <a href="/" class="forgot">多Olvidaste tu Contrase単a?</a>
        </form>

    </div>

    <!-- Aca va el footer -->
    <%- include('../partials/footer') %>
    
</body>

</html>