<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>

<body class="login">
    
    <%- include('../partials/header') %>

    <!-- Empieza el Form de Login -->
    <div class="formLogin">
        <div class="contenedorSadulo">
            <h1 class="tituloLogin">LOGIN</h1>
            <i class="fa-solid fa-circle-user"></i>
            <h2 class="saludo">Bienvenido</h2>
        </div>
        <form action="/" method="" class="formBody">
            <label for="username">Usuario</label>
            <input type="text" name="username" id="username" placeholder="Usuario" required>
            <label for="password" class="pass">Contrase単a</label>
            <input type="password" name="password" id="password" placeholder="Contrase単a" required>
            <div class="rememberMe">
                <input type="checkbox" class="check">
                <span>Recordarme</span>
            </div>
            <div class="butonLogin">
                <button class="button-form-create">Ingresar</button>
            </div>
            <a href="/" class="forgot">多Olvidaste tu Contrase単a?</a>
        </form>

    </div>

    <!-- Aca va el footer -->
    <%- include('../partials/footer') %>
    
</body>

</html>